header {
    background-color: red;
}

nav {
    width: 100%;
}

ul.truenav {
    background-color: gray;
}
.truenav li {
    background-color: black;
display: inline-block;
padding: 5 10;
text-decoration: none;
}

.navright {
    float: right;
}

.truenav a {
    text-decoration: none;
}