
footer {
    display: inline-block;
    position: relative;
    background-color: #fff;
}
nav {
    width: 100%;
}


.buttons li {
    /* position: relative; */
    display: inline-block;
    margin: 0 auto;
}


.logo {
    display: block;
    margin: 0 auto;
    padding-top: 104px;
}

.truenav li {
    display: inline-block;
    padding: 5 10;
    text-decoration: none;
}

.navright {
    float: right;
}

.searchit {
    
    border-radius: 20px;
    display: block;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 10;
    width: 600px;

}

.truenav a {
    text-decoration: none;
}

formtest {
    position:relative;
}

.buttons {
    margin: 20 30% 20;
}

.footernav li {
    display: inline-block;
}